# 
SERVER_PORT=5001
NODE_ENV=development
# NODE_ENV=production
# For Production

# 
FRONTEND_LOCAL_URL=http://localhost:3000
FRONTEND_SERVER_URL=

# 
BACKEND_LOCAL_URL=http://localhost:5001
BACKEND_SERVER_URL=

# 
DATABASE_URL=
DIRECT_URL=

# Contact Form / Email (Nodemailer)
CONTACT_EMAIL_USER=
CONTACT_EMAIL_PASS=
CONTACT_RECIPIENT_EMAIL=
